body {
  margin: 0;
  padding: 0;
}

#map3d {
  height: 500px;
  z-index: -1;
}

#teleport {
}

#stars {
  color: #ff0;
  pointer-events: none;
  z-index: 1;
  font-size: 30pt;
  position: absolute;
  right: 0;
  top: 0;
}
